<div ng-app="root" ng-controller="myController">
    <div id="menu">
        <div ng-repeat="sport in sports">
            <a class=btn ng-init="addMenuElement(sport.Id)" ng-click="menuState[sport.Id] =! menuState[sport.Id]">{{sport.Name}}</a>
            <div ng-show="menuState[sport.Id]" ng-repeat="event in sport.Events">    
                <a ng-click="showMatches(event.Id)" name="{{event.Name}}" class="sub-btn">{{event.Name}}</a>    
            </div>
        </div>
    </div>
    <div id="oddInformation">
        <div ng-repeat="match in matches">
            <h2 class="match-header" ng-init="addMatchElement(match.Id)" ng-click="matchesState[match.Id] =! matchesState[match.Id]">{{match.StartDate}} - {{match.Name}}</h2>
            <table ng-show="matchesState[match.Id]" ng-repeat="bet in match.Bets">
                <thead>
                    <tr>
                        <th>{{bet.Name}}</th>
                        <th>Is Live - {{bet.IsLive}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="odd in bet.Odds">
                    <tr>
                        <td>{{odd.Name}}</td>
                        <td>{{odd.Value}}</td>
                        <td ng-show="odd.SpecialBetValue != null">Special Bet Value : {{odd.SpecialBetValue}}</td>
                    </tr>
                </tbody>           
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="text/javascript"></script>
    <script>
        angular.module("root", [])
            .controller("myController", ["$scope", "$http", "$interval", function ($scope, $http, $interval) {
                $scope.currentEvent = '';
                $scope.menuState = [];
                $scope.showMatches = function (param) {                    
                    $scope.matchesState = [];
                    $scope.getMatches(param);
                }
                              
                $interval(function () {
                    if ($scope.currentEvent != '') {
                        $scope.getMatches($scope.currentEvent);
                        console.log("Update - " + $scope.currentEvent);
                    }

                    sportsInitAndUpdate();
                    console.log("Update Menu - Sports and Events");
                    //console.log($scope.menuState);
                    //console.log($scope.matchesState);
                }, 60000);

                window.onload = sportsInitAndUpdate();
                
                $scope.getMatches = function (param) {
                    $scope.currentEvent = param;
                    $http({
                        method: "GET",
                        url: "/api/events/EventMatchesFullInfo?eventId=" + $scope.currentEvent
                    }).then(function succes(response) {
                        $scope.matches = response.data;
                    }, function error(response) {
                        console.log("Update Error");
                    });
                }

                function sportsInitAndUpdate() {
                    $http({
                        method: "GET",
                        url: "http://localhost:54166/api/sports/SportsWithTheirEvents"
                    }).then(function success(response) {
                        $scope.sports = response.data;
                    }, function error(response) {
                        console.log("Error Accessing Menu Elements - " + response.data);
                    })
                }
                                               
                $scope.addMenuElement = function (elementIndex) {
                    if ($scope.menuState[elementIndex] != null) {
                        //console.log("Menu element exist")
                        return;
                    }

                    $scope.menuState[elementIndex] = false;
                }

                $scope.addMatchElement = function (elementIndex) {
                    if ($scope.matchesState[elementIndex] != null) {
                        //console.log("Match element exist")
                        return;
                    }

                    $scope.matchesState[elementIndex] = false;
                }
            }])
    </script>
}