<div ng-app="root" ng-controller="myController">
    <div id="menu">
        <div ng-repeat="sport in sports">
            <a class=btn ng-init="addMenuElement(sport.Id)" ng-click="menuState[sport.Id] =! menuState[sport.Id]">{{sport.Name}}</a>
            <div ng-show="menuState[sport.Id]" ng-repeat="event in sport.Events">    
                <a ng-click="showMatches(event.Id)" name="{{event.Name}}" class="sub-btn">{{event.Name}}</a>    
            </div>
        </div>
    </div>
    <div id="oddInformation">
        <div ng-repeat="match in matches">
            <h2 class="match-header" ng-init="addMatchElement(match.Id)" ng-click="matchesState[match.Id] =! matchesState[match.Id]">{{match.StartDate}} - {{match.Name}}</h2>
            <table ng-show="matchesState[match.Id]" ng-repeat="bet in match.Bets">
                <thead>
                    <tr>
                        <th>{{bet.Name}}</th>
                        <th>Is Live - {{bet.IsLive}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="odd in bet.Odds">
                    <tr>
                        <td>{{odd.Name}}</td>
                        <td>{{odd.Value}}</td>
                        <td ng-show="odd.SpecialBetValue != null">Special Bet Value : {{odd.SpecialBetValue}}</td>
                    </tr>
                </tbody>           
            </table>
        </div>
    </div>
</div>